.dropdown-menu {
  z-index: 100;
  background-color: #f1f2f3;
  padding: 5px 8px;

  &__item {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    color: #333;
    padding: 0 15px;

    &:not(:last-child) {
      border-bottom: 1px solid #38383834;
    }

    &__icon {
      font-size: 16px;
    }

    &__text {
      font-size: 14px;
    }
  }
}
