.dropdown-menu {
  // position: absolute;
  // top: 0;
  // right: -40px;
  z-index: 100;
  background-color: #fff;

  &__item {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    color: #333;
    padding: 4px 20px;

    &:not(:last-child) {
      border-bottom: 1px solid #383838;
    }

    &__icon {
      font-size: 16px;
      align-self: center;
    }

    &__text {
      font-size: 12px;
    }
  }
}
