@import './../../../node_modules/codemirror/lib/codemirror.css';
@import './../../../node_modules/codemirror/theme/base16-light.css';

.note-container {
  flex: 1 1 85%;
  display: flex;

  &__add-note {
    display: grid;
    grid-template-columns: 4rem auto;
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    padding: 1rem 1rem 1.5rem;
    cursor: pointer;
    user-select: none;

    &__icon {
      display: flex;
      place-items: center;
    }

    &__content {
      align-self: center;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &__notes {
    flex: 1 0 25%;
    background-color: #eeeeee;
    overflow-y: auto;

    &__note {
      padding: 1.3rem;
      font-size: 1.4rem;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #222;
      cursor: pointer;
      // position: relative;

      &:nth-last-child(1) {
        border-bottom: 1px solid #d4d4d4;
      }

      &:hover {
        background-color: #d4d4d4;
        .note-container__notes__note__option {
          opacity: 1;
        }
      }

      &--active {
        &:hover {
          background-color: #5183f5;
        }
        background-color: #5183f5;
        font-weight: 500;
        color: #fff;
      }

      &__content {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        margin-right: 34px;
      }

      &__option {
        opacity: 0;
        color: #111;
        z-index: 1;
        cursor: pointer;
      }
    }
  }

  &__selected-note {
    flex: 1 1 75%;
    background-color: #f5f5f5;
    overflow-y: auto;

    .editor {
      padding: 2rem;
      font-size: 1.5rem;
    }
  }

  &__no-notes {
    flex: 1 1 75%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
  }
}

.CodeMirror {
  height: auto;
  width: 100%;
  white-space: pre;
}
