@import './../../../node_modules/codemirror/lib/codemirror.css';
@import './../../../node_modules/codemirror/theme/base16-light.css';

.note-container {
  flex: 1 1 85%;
  display: flex;

  &__add-note {
    display: grid;
    grid-template-columns: 4rem auto;
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    padding: 1rem 1rem 1.5rem;
    cursor: pointer;
    user-select: none;

    &__icon {
      display: flex;
      place-items: center;
    }

    &__content {
      align-self: center;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &__notes {
    flex: 1 0 25%;
    background-color: #eeeeee;
    overflow-y: auto;

    &__note {
      padding: 1.3rem;
      font-size: 1.4rem;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #222;
      cursor: pointer;
      border-bottom: 1px solid #d4d4d4;

      &:hover {
        background-color: #d4d4d4;
        .note-container__notes__note__option {
          opacity: 1;
        }
      }

      &--active {
        &:hover {
          background-color: #5183f5;
        }
        background-color: #5183f5;
        font-weight: 500;
        color: #fff;
      }

      &__content {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        margin-right: 34px;
      }

      &__option {
        opacity: 0;
        color: #111;
        z-index: 1;
        cursor: pointer;
      }
    }
  }

  &__selected-note {
    flex: 1 1 75%;
    background-color: #f5f5f5;
    overflow-y: auto;
    position: relative;

    button {
      position: absolute;
      z-index: 150;
      right: 10px;
      top: 10px;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 14px;
      background-color: lightgray;
      padding: 3px 7px;
      border: 0;
      font-weight: 500;
      box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.4);
    }

    .editor {
      padding: 2rem;
      font-size: 1.5rem;
    }
  }

  &__no-notes {
    flex: 1 1 75%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
  }
}

.CodeMirror {
  height: auto;
  max-width: 100%;
  white-space: pre;
}

.previewer {
  position: relative;
  max-height: calc(100vh - 75px);
  overflow-y: auto;

  background: #f5f5f5;
  color: #404040;
  padding: 2rem;

  a {
    color: #0098af;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p,
  ol,
  ul,
  dl,
  table {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0 0 1.5rem 0;
  }

  ul li ul {
    margin-bottom: 0;
  }

  ol li ol {
    margin-bottom: 0;
  }

  ul li [type='checkbox'] {
    margin-right: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0 0 1.5rem 0;
    font-weight: 700;
    line-height: 1.2;

    &:not(:first-child) {
      margin: 1.5rem 0;
    }
  }

  // Increased margin on additional headings
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 2rem;
  }

  // Heading individual styles
  h1 {
    font-size: 2.9rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 1.9rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  // Blockquote
  blockquote {
    margin: 0 0 1.5rem 0;
    border-left: 4px solid #9e9e9e;
    padding: 0.5rem 1.5rem;

    p {
      font-size: 1.76rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    cite {
      display: block;
      margin-top: 1.5rem;
      font-size: 1rem;
      text-align: right;
    }
  }

  // Code block styling
  pre {
    border: 0;
    border-radius: 0;
    background: lightgray;
    padding: 1.6rem;
    tab-size: 2;
    color: #404040;
    margin: 0 0 1.5rem 0;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    font-size: 1.4rem;

    code {
      padding: 0;
      background: transparent;
      line-height: 1.2;
    }
  }

  code {
    padding: 2px 4px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.08);
  }

  hr {
    height: 0;
    border: 0;
    border-top: 2px solid lighten(#f1f1f1, 10%);
  }

  img {
    max-width: 100%;
    max-height: 32rem;
    object-fit: cover;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
  }

  thead th {
    border-bottom: 2px solid lightgray;
  }

  tfoot th {
    border-top: 2px solid lightgray;
  }

  td {
    border-bottom: 1px solid lightgray;
  }

  th,
  td {
    text-align: left;
    padding: 0.5rem;
  }
}
